[Desktop Entry]
Encoding=UTF-8
Name=Fleacoin
Comment=Fleacoin P2P Cryptocurrency
Comment[fr]=Fleacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fleacoin, eşten eşe kriptografik sanal para birimi
Exec=fleacoin-qt %u
Terminal=false
Type=Application
Icon=fleacoin128
MimeType=x-scheme-handler/fleacoin;
Categories=Office;Finance;
